body {
  margin: unset;
}

/* .row {
  display: flex;
}

.col {
  flex-grow: 1;
  height: 200px;
  border: 1px solid black;
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
} */
